//color
$color_yelow: rgb(230, 174, 72);
$color_yelow2: rgb(231, 177, 79);
$color_opaque: rgb(214, 214, 214);
$color_grey:rgba(255, 255, 255, 0.502);
$color_grey2:rgba(255, 255, 255, 0.702);
$color_white:rgb(255, 255, 255);
$color_black: rgb(0, 0, 0);
$color_text:#585858;
$color_rider: rgb(48, 48, 48);
$color_home:rgb(129, 129, 129);