include head.pug
body
    include header.pug
    include menu.pug
    section#content.content
        .container
            .content__title
                p
                    a(href='#') Trang chủ/
                        span Giới thiệu
                h3 giới thiệu
                img(src="image/titleleft-dark.png", alt="")
            .row
                .col-lg-6
                    .content__img
                        img(src="image/hotdeal.jpg", alt="")
                .col-lg-6
                    .content__infor
                        h3 Chào mừng đến với wine hourse
                        p.
                            Vang nổ Thang Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ
                            rượu nhẹ, bột ga đầy trắng mịn.Vang nổ Thang Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ
                            rượu nhẹ, bột ga đầy trắng mịn. Vang nổ Thang Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ
                            rượu nhẹ, bột ga đầy trắng mịn.Vang nổ Thang Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ
                            rượu nhẹ, bột ga đầy trắng mịn.
                        br
                        p.
                            Vang nổ Thang Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ
                            rượu nhẹ, bột ga đầy trắng mịn.Vang nổ Thang Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ
                            rượu nhẹ, bột ga đầy trắng mịn.
    include footer.pug    