section#brandlogo.brandlogo
        .container
            img(src="image/brand_logo.png", alt="")
footer#footer.footer
    .container
        .footer__above
            .footer__above__card
                h3 Thông tin
                ul
                    - var list1 =['về chúng tôi','giao hàng','cảm nghĩ','lưu trữ','chính sách riêng tư']
                        each item1 in list1
                            li
                                a(href='#')= item1 
            .footer__above__card
                h3 mua hàng
                ul
                    - var list2 =['vận chuyển và tra hàng','mua hàng an toàn','vận quốc tế','liên kết','dịch vụ giảm giá']
                        each item2 in list2
                            li
                                a(href='#')= item2
            .footer__above__sendemail
                h3 gửi email
                p Gửi email cho chúng tôi để được hổ trợ
                .footer__above__sendemail__button
                    input(type='text', name='sendmail', placeholder='Enter your email')
                    img(src="image/footer_send.png", alt="")
                    span Gửi
                ul
                    li
                        a(href='#')
                            i.fas.fa-dove
                    li
                        a(href='#')
                            i.fab.fa-google-plus-g
                    li
                        a(href='#')
                            i.fas.fa-volleyball-ball
                    li
                        a(href='#')
                            i.fab.fa-invision
                    li
                        a(href='#')
                            i.fas.fa-wifi
            .footer__above__contact
                h3 Liên hệ
                p
                    i.fas.fa-map-marker-alt   Tầng 4,Tòa nhà HaNoi Group Số 442 Đội Cần, P.Cộng Vị, Quận Ba ĐÌnh, Hà Nội.
                    br
                    i.fas.fa-phone-volume   (04) 6674 2332 -    
                    i.fas.fa-phone-volume   (04) 37868904
                    br
                    i.fas.fa-phone-volume   (08) 6608 9686      
                    i.fas.fa-envelope
                        a(href='#')   Support@bizweb.vn
        hr
        .footer__under
            .footer__under__left
                p &copy CoppyRight 2018-2014 DKT Technology JSC
            .footer__under__right
                img(src="image/footer.png", alt="")