doctype html
html(lang='en')
head
    meta(charset='UTF-8')
    title Dink Page

    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")